PREFIX owl: <http://www.w3.org/2002/07/owl#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
SELECT ?class ?fiboParent ?fiboDefinition WHERE {
  ?class a owl:Class ; rdfs:subClassOf+ ?fiboParent .
  FILTER(STRSTARTS(STR(?class), "{{ base_iri }}domain/{{ ontology_domain_slug }}/{{ domain_slug }}/"))
  FILTER(STRSTARTS(STR(?fiboParent), "https://spec.edmcouncil.org/fibo/"))
  # nearest FIBO ancestor only
  FILTER NOT EXISTS {
    ?class rdfs:subClassOf+ ?nearer . ?nearer rdfs:subClassOf+ ?fiboParent .
    FILTER(STRSTARTS(STR(?nearer), "https://spec.edmcouncil.org/fibo/"))
  }
  OPTIONAL { ?fiboParent skos:definition ?fiboDefinition }
}
ORDER BY ?class
