@prefix {{ prefix }}:      <{{ base_iri }}domain/{{ ontology_domain_slug }}/{{ domain_slug }}/{{ module_name }}/> .
@prefix {{ prefix }}-rule: <{{ base_iri }}domain/{{ ontology_domain_slug }}/{{ domain_slug }}/rules/> .
@prefix {{ prefix }}-m:    <{{ base_iri }}domain/{{ ontology_domain_slug }}/{{ domain_slug }}/governance/> .
@prefix ent-gov: <{{ base_iri }}governance/model/> .
@prefix ent-av:  <{{ base_iri }}governance/annotations/> .
@prefix ent-tax: <{{ base_iri }}taxonomy/> .
@prefix fibo-fnd-utl-av: <https://spec.edmcouncil.org/fibo/ontology/FND/Utilities/AnnotationVocabulary/> .
@prefix sh:   <http://www.w3.org/ns/shacl#> .
@prefix owl:  <http://www.w3.org/2002/07/owl#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix dct:  <http://purl.org/dc/terms/> .
@prefix xsd:  <http://www.w3.org/2001/XMLSchema#> .

# -----------------------------------------------------------------------------
# {{ domain_name }} - BUSINESS RULES (owned by the rule owner)
# Standard: docs/standards/02-business-rules.md. One rule = one shape = one id,
# with ruleStatement (authoritative), policySource, owner and a negative test.
# -----------------------------------------------------------------------------

<{{ base_iri }}domain/{{ ontology_domain_slug }}/{{ domain_slug }}/rules/>
    a owl:Ontology ;
    rdfs:label "{{ domain_name }} - business rules"@en ;
    dct:abstract "Executable business rules of the {{ domain_name }} business domain."@en ;
    owl:versionIRI <{{ base_iri }}domain/{{ ontology_domain_slug }}/{{ domain_slug }}/rules/0.1.0/> ;
    owl:versionInfo "0.1.0" ;
    fibo-fnd-utl-av:hasMaturityLevel fibo-fnd-utl-av:Provisional .

{{ prefix }}-rule:ReferenceCodeRule
    a sh:NodeShape , ent-gov:BusinessRule ;
    rdfs:label "{{ seed_class_label }} reference code rule"@en ;
    ent-av:ruleIdentifier "{{ rule_prefix }}-R-000" ;
    ent-av:ruleStatement "Every {{ seed_class_label }} has exactly one reference code."@en ;
    ent-av:policySource "Placeholder - cite the policy or procedure this rule comes from." ;
    ent-gov:hasRuleOwner {{ prefix }}-m:RuleOwnerRole ;
    ent-av:governedBy ent-tax:{{ seed_class_anchor }} ;
    sh:targetClass {{ prefix }}:{{ seed_class }} ;
    sh:message "A {{ seed_class_label }} must have exactly one reference code ({{ rule_prefix }}-R-000)." ;
    sh:property [ sh:path {{ prefix }}:hasReferenceCode ; sh:minCount 1 ; sh:maxCount 1 ; sh:datatype xsd:string ] .
